#faq
{
  margin: 0 auto;
  padding:0 20px;
  h1 {
    text-align: $align;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  ul {
  margin-bottom: 95px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

  ul li {
    font-size: 24px;
    color: rgba(0, 162, 182, 0.65);
    list-style: initial;
    /*padding-bottom: $main-pad;*/
    cursor: pointer;
  //  margin:0 0 20px 0;
    padding: 0;

  }
  .question {
    color: rgba(0,0,0,.8);
    font-size: 18px;
    list-style: initial;
    cursor: pointer;
  }

.answers
{
  font-size: 17px;
  height: 0px;
  overflow: hidden;
  transition: .3s ease-out;
  opacity: 0;
  padding-bottom: 20px;
  color: black;
}

.show
{
  /*display: inline;*/
  transition: .3s ease-in;
  height: 100px;
  opacity: 1;
  margin-top: 25px;
  margin-bottom: 25px;
}

}
