/**HOW IT WORKS**/

#howitworks
{
  padding:0 20px;
  max-width: 600px;
  margin:0 auto;
  
  .title
    {
      text-align: $align;
      padding-top:50px;
    }
    
    .desc
    {
      padding-bottom:$main-pad;
      text-align: $align;
      padding-top:50px;
    }
    
    .icon
    {
      margin:$main-pad/2 auto;
    }
    
    .homeFeatures
    {
      text-align: $align;
      margin:0 auto;
      margin-bottom: $main-pad;
      
      h2{
          font-size:24;
      }
      
      .hf{
          max-width: 300px;
          margin:0 auto;
        }
    }
    
    
}

