.splash 
{
	color: #FFFFFF;
  	margin: 0;
	padding: 0;
	position: absolute;
	top: 0; left: 0; right: 0;
	height:100%;
	width: 100%;
	min-width: 380px;
	background-image: url("../images/bg.png");
	background-size: cover;
	background-color: #CCCCCC;
}

#content 
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	bottom: 0px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body p{
	text-align: center;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
}

.plant{
	color: #000000;
	bottom: 0;
	padding-top: 10px;
}



.plantClick {
	border: 5px solid #078250;
	padding-top: 0px;
}

.addplant {
	padding-top: 10px;
	margin-bottom: 15px;
}

.planthealthgood{
	color: #00A2B6;
	position: relative;
	bottom: 13px;
}

.planthealthbad{
	color: #AA1A32;
	position: relative;
	bottom: -4px;
}

.add {
	font-size: 40px;
	margin-top: 0px;
	cursor: pointer;
}

.currentplant {
	display: inline-block;
	margin-left: 5%;
	font-size: 18px;
}

.plants {
	background:rgba(112,112,112,0.25);
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 170px;
	height: 170px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	transition: border .25s ease;
}

p.plant {
	margin-top: 0;
}

p.addplant {
	margin-top: 0;
}

.smaller {
	width: 375px;
	margin: 0 auto;
}

#yourplants {
	background-color: #634CA2;
	margin-bottom: 10px;
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	align-content: center;
	background-color: #FFFFFF;
	background-image: url("../images/mainbg.png");
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;

}

.graph {
	background-color: #00A2B6;
	height: 150px;
	margin-left: 1px;
	margin-right: 1px;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.6;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 5px;
	margin-top: 20px;
}

#diagnostics {
	background-color: #FFFFFF;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.timer {
	margin-bottom: 0px;
	padding-bottom: 0px;
	display: inline-block;
	font-size: 50px;
	width: 20%;
	float: left;
}

.am {
	font-size: 24px;
}

.mainTitles {
	font-family: 'Open Sans Light', sans-serif;
	font-size: 22px;
	margin-left: 5%;
	margin-top: 0;
	padding-top: 40px;
	margin-bottom: 0;
	clear: both;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-left: 50px;
	margin-top: 80px;
	padding-top: 40px;
	margin-bottom: 0;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	display: inline-block;
	padding-left: 35px;
	margin-top: 0px;
}

.numSet, #amSet {
	color: #00A2B6;
	width: 25%;
	display: inline-block;
	margin: 5px 1px;
	padding: 0 1px;
	border: 3px #00A2B6 solid;
	text-align: center;
}

.numSet {
	font-size: 75px;
}

#amSet {
	font-size: 34px;
	position: relative;
	top: 11px;
}

.addTime {
	background-color: white;
	width: 350px;
	margin: 0 auto;
}

.time {
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 0;
	color: #ffffff;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 22px;
}

.date {
	font-size: 18px;
}

#scheduling {
	background-color: #00A2B6;
	/*height: 800px;*/
	font-family: 'Open Sans', sans-serif;
/*	padding-top: 20px;*/
	color: #ffffff;
}

#logo 
{ 
  float: left;
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  width: 300px;
}

#logomain
{ 
  float: left;
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  width: 300px;
  margin-bottom: 20px;
}

#signin 
{
	padding-top: 240px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 50px;
}

footer 
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	position:fixed;
    bottom:0;
    left:50%;
    margin-left:-200px; /*negative half the width */
    width:400px;
    margin-bottom: 30px;
}

a 
{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
}

.col2 
{
	border-left: 2px solid white;
	padding-right: 0px;
	right: 0;	
}

input 
{
	background-color: transparent;
	border:none;
	border-bottom:1px solid #707070;
	height: 60px;
	width:30%;
	min-width: 325px;
}

input[placeholder] /*can also use ::placeholder*/ 
{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	color: white;
	margin-bottom: 22px;
}

input::-webkit-input-placeholder {
color: white;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white;  
}
 
input:-ms-input-placeholder {  
color: white;  
}

input[type='submit'] 
{
	border:none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	margin-bottom: 10px;
	background-color: #000000;
	width: 230px;
	background:rgba(0,0,0,0.4);
	border-radius: 30px;
	cursor: pointer;
	opacity: 0.7;
	height: 35px;
}

option {
	font-family: 'Source Sans Pro', sans-serif;
}

.menuoptions {
    border: 1px solid #00A2B6;
    color: #00A2B6;
    width: 200px;
    border-radius: 1px;
    overflow: hidden;
    margin-left: 3%;
    display: inline-block;
    position: relative;
    top: 10px;
}

.menuoptions select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    font-size: 18px;
    color: #00A2B6;
    text-transform: uppercase;
}

.linestyle {
	color: #FFFFFF;
	width: 100%;
	margin: 0 auto;
}

.linestyle2 {
	color: #FFFFFF;
	width: 100%;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 30px;
}

.sliderDiv 
{
  position: relative;
  width: 60px;
  height: 30px;
  float:right;
  top: 65px;
}

/* Hide default HTML checkbox */
.sliderDiv input 
{
  display:none;
}


/* The slider */
.slider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -2px;
  bottom: -6px;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 34px;
  padding:3px;
  display: inline-block;
}

.slider:before 
{
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  display: inline-block; 
}

input:checked + .slider 
{
  background-color: rgba(0,0,0,0.5);
}

input:checked + .slider:before 
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*TABLET*/

@media screen and (min-width: 768px) {
	.splash 
	{
		background-image: url("../images/tabletbg.png");
	}

	.col2
	{
		border-left: none;
		padding-right: 0px;
		right: 0;
		padding-top: 30px;
	}

	.mainTitles {
		font-size: 40px;
	}	

	.smaller {
		width: 554px;
	}

	#yourplants {
		height: 100vh;
	}

	.row {
		margin-top: 12vh;
	}

	#diagnostics {
		height: 100vh;
	}

	.menuoptions select {
		font-size: 27px;
	}

	.currentplant {
		font-size: 27px;
	}

}

/*DESKTOP*/

@media screen and (min-width: 1024px) 
	{
		.time {
		font-size: 30px;
		}

		.splash {
		background-color: #000000;
		background-image: url("../images/desktopbg.png");
		}
	
	}

@media screen and (min-width: 1200px) {
		.smaller {
		width: 1050px; 
		}
}