@mixin banner($image) {
    
    color: white;
    position: relative;
    height:100%;
    width:100%;
    
    background: -webkit-linear-gradient(135deg, rgba(0, 197, 129, 0.65), rgba(0, 162, 182, 0.65)), url(../images/#{$image});
    background: -moz-linear-gradient(135deg, rgba(0, 197, 129, 0.65), rgba(0, 162, 182, 0.65)), url(../images/#{$image});
    background: -o-linear-gradient(135deg, rgba(0, 197, 129, 0.65), rgba(0, 162, 182, 0.65)), url(../images/#{$image});
    background: linear-gradient(135deg, rgba(0, 197, 129, 0.65), rgba(0, 162, 182, 0.65)), url(../images/#{$image});
    
    background-size: cover;
}